<div class="col-md-12">
  <div class="record">
    <%= link_to("Edit", edit_record_path(@record), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @record.device_name %></h2>
  <p><%= @record.description %></p>
</div>
