<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 DMSS
        <br>Design by
        <a href="http://gniba.com" target=_new>BruceLou</a>
    </p>
</footer>
